<h1>Movie List</h1>

<p *ngIf="!movies"><i class="fade fa-spinner fa-pulse fa-2x fa-fw"></i>
<em>Loading...</em></p>

<a [routerLink]="['/addmovie']" class="btn btn-lg btn-info" *ngIf="movies">ADD A MOVIE</a>


<table class='table' *ngIf="movies">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies">
            <td>{{ movie.title }}</td>
            <td>{{ movie.releaseDate }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.price }}</td>
            <td>{{ movie.rating }}</td>
        </tr>
    </tbody>
</table>